@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.my-content {
    width: 200px;
}

.logo_laravel {
    width: 50%;

    img {
        width: 100px;
    }
}

.logos {
    a {
        width: 15%;
        height: 100%;
    }
}